<footer class="w-full h-20 bottom-0 relative flex flex-col md:flex-row justify-around text-white items-center text-xs sm:text-sm mt-8 md:mt-0">
    <div>
      <p>
        &#64 2024 Stream Vibe. All rights reserved.
      </p>
    </div>

    <div class="flex items-center sm:space-x-6 gap-4 sm:gap-10">
      <p>Terms of Use</p>
      <p>Privacy Policy</p>
      <p>Cookie Policy</p>
    </div>
  </footer>