sl-input {
  --sl-input-border-color: gray;
  --sl-input-border-color-focus: black;
  --sl-input-label-color: white;
  --sl-input-background-color: black;
}

sl-input::part(input) {
  color: white;
  background-color: black;
}

sl-input::part(password-toggle-button) {
  background-color: black;
}
