<div class="fixed top-0 left-0 w-full h-full -z-10">
  <img
    src="/assets/index/background.png"
    alt="background"
    class="w-full h-full object-cover"
  />
</div>

<div
  class="flex flex-col items-center justify-center h-screen w-screen text-center gap-8"
>
  <img src="/assets/index/vector.png" alt="logo" class="w-64 sm:w-96" />
  <h1 class="text-white font-semibold text-xl">
    The Best Streaming Experience
  </h1>
  <p class="text-[#999999] sm:w-[70%] lg:w-[50%] text-sm mx-10">
    StreamVibe is the best streaming experience for watching your favorite
    movies and shows on demand, anytime, anywhere. With StreamVibe, you can
    enjoy a wide variety of content, including the latest blockbusters, classic
    movies, popular TV shows, and more. You can also create your own watchlists,
    so you can easily find the content you want to watch.
  </p>
</div>
