<div class="flex flex-col justify-center items-center h-[100svh] w-full">
  <div class="absolute top-0 left-0 w-full h-full -z-10">
    <img
      src="/assets/index/background.webp"
      alt="background"
      class="w-full h-full object-cover"
      width="1920"
      height="1080"
    />
  </div>
  <div
    class="bg-[#0f0f0f] p-6 sm:p-10 rounded-2xl space-y-6 sm:space-y-8 w-[90%] sm:w-[70%] md:w-[50%] lg:w-[35%] xl:w-[30%]"
  >
    <h1 class="text-white w-full text-center text-xl sm:text-2xl">Login</h1>

    <form action="/login" method="post" class="space-y-4 w-full">
      <sl-input
        label="Username"
        help-text="Please fill your username"
        required
        name="username"
      ></sl-input>
      <br />
      <sl-input
        label="Password"
        help-text="Please fill your password"
        password-toggle
        type="password"
        required
        name="password"
      ></sl-input>
      <br />
      <div
        class="w-full flex justify-between items-center space-y-4 sm:space-y-0"
      >
        <a href="/register" class="text-red-700 underline">Register</a>
        <button
          type="submit"
          class="bg-red-700 text-white px-4 py-2 rounded-md font-semibold"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
