<div class="bg-black h-screen w-screen m-0 font-manrope flex flex-col justify-center items-center text-white">
  <% if (!data || !data.video_url) { %>
  <p>
    You need to purchase this film to watch it.
  </p>
  <br />

  <a href="/films" class="underline">Back to films</a>
  <% } else { %>
  <video controls autoplay class="w-full h-full" controlsList="nodownload">
    <source src="<%= data.video_url %>" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <% } %>
</div>